{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome3/css/all.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <title>{{receiver_profile.user}} --Chat</title>
    <style>
        body {
            margin: 0%;
            padding: 0;
            width: 90%;
            margin: auto;
            margin-top: 15px;
        }

        textarea {
            padding: 4px;
            -webkit-transition: none !important;
            transition: none !important;
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 7px;
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
        }

        /* Align the camera icon in the input tag */

        .camera-icon {
            position: absolute;
            right: 40px;
            top: -7px;
        }

        .submit-button {
            position: absolute;
            right: 10px;
            top: -7px;
        }
    </style>
</head>

<body>
    <input type="hidden" value="{{receiver_profile.id_user}}" id="pks">
    <input type="hidden" value="{{request.user}}" id="user">
    <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0 w-4 header_inner"
        style="position:fixed;width: 100%;z-index:1;top:0%;left:10px">

        <!-- post header-->
  
        <div style="width:100%;margin:auto;padding:7px 7px; display: grid; grid-template-columns: auto auto">
            <div style="display: flex;">
                <a href="/view_chats" style="text-decoration: none; color: black;">
                    <span style="color: gray; font-size:large; padding-top:7px" class="fa fa-arrow-left"
                        title="Chats"></span>
                </a>
                <img src="{{receiver_profile.profileimage.url}}" style="border-radius: 50%;" width="40px" height="40px"
                    alt="">
                <a style="padding: 5px; font-size:large;color: black;"
                    href="/profile/{{receiver_profile.user}}">{{receiver_profile.user}}</a>
            </div>

            <div style="display: grid; grid-template-columns: auto auto auto">
                <a href="" style="text-decoration: none; color: black;">
                    <span style="color: gray; font-size:large; padding-top:7px" class="fa fa-phone"
                        title="Chats"></span>
                </a>
                <a href="" style="text-decoration: none; color: black;">
                    <span style="color: gray; font-size:large; padding-top:7px" class="fa fa-video-camera"
                        title="Chats"></span>
                </a>
                <a href="" style="text-decoration: none; color: black;">
                    <span style="color: gray; font-size:large; padding-top:7px" class="fa fa-navicon"
                        title="Chats"></span>
                </a>
            </div>

        </div>

    </div><br><br><br><br>

    <!-- Here gets the comments , handled in like.js   -->


    <div id="display-comment">
    </div>


    <br><br>
    <!-- Send Message Form -->
    <div style="bottom:0px; width: 90%;position:fixed;z-index:1;">
        <form id="chat-message" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="hidden" id="sender" name="sender" value="{{user_profile.user}}">
            <input type="hidden" id="receiver" name="receiver" value="{{receiver_profile.user}}">
            <input type="hidden" id="receiverId" name="receiverId" value="{{receiver_profile.id_user}}">
            <input type="hidden" id="senderId" name="senderId" value="{{user_profile.id_user}}">
            <input type="hidden" id="profile_image" name="profile_image" value="{{user_profile.profileimage.url}}">

            <textarea id="message" name="message" autofocus placeholder="Type a message"></textarea>

            <!-- Submit button -->
            <button type="submit"
                class="header-links-item absolute bottom-0 flex h-full items-center text-xl space-x-2 submit-button">
                <span class="fa fa-send" style='font-size:20px;'>bb</span>
            </button>

            <!-- Drop down to select file type -->
            <a href="#"
                class="header-links-item absolute bottom-0 flex h-full items-center   text-xl space-x-2 camera-icon">
                <span class="fas fa-camera" style='font-size:20px;'></span>
            </a>

            <div uk-drop="mode: click;offset: 4" class="header_dropdown">
                <ul class="dropdown_scrollbar" data-simplebar>

                    <!-- Image icon -->
                    <li>
                        <div class="drop_content">
                            <label for="image">
                                <span class="fas fa-image" style='font-size:20px;' title="Chats"></span>
                            </label>
                            <input type="file" accept="image/*" style="display: none;" id="image" name="image" />

                        </div>
                    </li>
                    <br>
                    <!-- Video icon -->
                    <li>
                        <div class="drop_content">
                            <label for="video">
                                <span class="fas fa-video" style='font-size:20px;' title="Chats"></span>
                            </label>
                            <input type="file" id="video" style="display: none;" accept="video/*" name="video" />

                        </div>
                    </li>

                </ul>
            </div>





    </div>


    </div>

    </form>
    </div>
    <br>


    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>


    <script src="{% static 'chat.js' %}">

    </script>
</body>

</html>