{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome3/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">
    <title>Group Chat</title>
    <style>
        body {
            margin: 0%;
            padding: 0;
            width: 90%;
            margin: auto;
            margin-top: 15px;
        }
    </style>
</head>

<body class="" style="background-color: #ccc;">
    <input type="hidden" value="{{get_group.name}}" id="pks">
    <input type="hidden" value="{{request.user}}" id="user">
    <div class="bg-white shadow rounded-md  -mx-2 lg:mx-0 w-4 header_inner"
        style="position:fixed;width: 100%;z-index:1;top:0%;left:10px">

        <!-- post header-->
        <div style="width:100%;margin:auto">
            <div class="">
                <span class="block capitalize font-semibold text-center">{{get_group}} - Group Chat</span>
            </div>
            <div class="flex justify-between items-center px-4 py-3">
                <a href="{{user_profile.profileimage.url}}">
                    <img src="{{user_profile.profileimage.url}}" class="rounded-full" width="70px" height="70px" alt="">
                </a>
                <a href="/view_groups"> <i class="fas fa-arrow-left">
                    </i>
                </a>

            </div>
        </div>

    </div><br><br>

    <!-- Here gets the comments , handled in like.js -->
    <div class="border-t pt-4 space-y-4" id="display-comment">

    </div>
    <br><br>

    <div style="bottom:0px; width: 90%;position:fixed;width: 90%;z-index:1;">
        <form id="group-comment" method="POST">
            {% csrf_token %}

            <input type="hidden" id="name" name="name" value="{{request.user}}" id="">
            <input type="hidden" id="ids" name="ids" value="{{get_group.id}}">
            <input type="hidden" id="profile_image" name="profile_image" value="{{user_profile.profileimage.url}}">
            <input type="hidden" id="group_name" name="group_name" value="{{get_group.name}}">
            <div class="bg-gray-100 bg-gray-100 rounded-full rounded-md relative ">
                <input type="text" id="comment" required name="comment" autofocus placeholder="Type a message"
                    class="bg-transparent max-h-10 shadow-none">
                <div class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
                    <!-- <a href="#"><i class="uil-image"></i></a>
                                    <a href="#"> <i class="uil-video"></i></a> -->
                </div>
            </div>
        </form>
    </div>
    <br>


    <script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/uikit.js' %}"></script>
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script src="{% static 'group.js' %}"></script>
</body>

</html>
# This file contains the WSGI configuration required to serve up your
# web application at http://RunSchoolHub.pythonanywhere.com/
# It works by setting the variable 'application' to a WSGI handler of some
# description.
#

# +++++++++++ GENERAL DEBUGGING TIPS +++++++++++
# getting imports and sys.path right can be fiddly!
# We've tried to collect some general tips here:
# https://help.pythonanywhere.com/pages/DebuggingImportError


# +++++++++++ HELLO WORLD +++++++++++
# A little pure-wsgi hello world we've cooked up, just
# to prove everything works.  You should delete this
# code to get your own working.


HELLO_WORLD = """<html>
<head>
    <title>PythonAnywhere hosted web application</title>
</head>
<body>
<h1>Hello, World!</h1>
<p>
    This is the default welcome page for a
    <a href="https://www.pythonanywhere.com/">PythonAnywhere</a>
    hosted web application.
</p>
<p>
    Find out more about how to configure your own web application
    by visiting the <a href="https://www.pythonanywhere.com/web_app_setup/">web app setup</a> page
</p>
</body>
</html>"""


def application(environ, start_response):
    if environ.get('PATH_INFO') == '/':
        status = '200 OK'
        content = HELLO_WORLD
    else:
        status = '404 NOT FOUND'
        content = 'Page not found.'
    response_headers = [('Content-Type', 'text/html'), ('Content-Length', str(len(content)))]
    start_response(status, response_headers)
    yield content.encode('utf8')


# Below are templates for Django and Flask.  You should update the file
# appropriately for the web framework you're using, and then
# click the 'Reload /yourdomain.com/' button on the 'Web' tab to make your site
# live.

# +++++++++++ VIRTUALENV +++++++++++
# If you want to use a virtualenv, set its path on the web app setup tab.
# Then come back here and import your application object as per the
# instructions below


# +++++++++++ CUSTOM WSGI +++++++++++
# If you have a WSGI file that you want to serve using PythonAnywhere, perhaps
# in your home directory under version control, then use something like this:
#
#import sys
#
#path = '/home/RunSchoolHub/path/to/my/app
#if path not in sys.path:
#    sys.path.append(path)
#
#from my_wsgi_file import application  # noqa


# +++++++++++ DJANGO +++++++++++
# To use your own django app use code like this:
import os
import sys
#
## assuming your django settings file is at '/home/RunSchoolHub/mysite/mysite/settings.py'
## and your manage.py is is at '/home/RunSchoolHub/mysite/manage.py'
path = '/home/RunSchoolHub/Levelup'
if path not in sys.path:
    sys.path.append(path)

os.environ['DJANGO_SETTINGS_MODULE'] = 'Levelup.settings'
#
## then:
from django.core.wsgi import get_wsgi_application
application = get_wsgi_application()



# +++++++++++ FLASK +++++++++++
# Flask works like any other WSGI-compatible framework, we just need
# to import the application.  Often Flask apps are called "app" so we
# may need to rename it during the import:
#
#
#import sys
#
## The "/home/RunSchoolHub" below specifies your home
## directory -- the rest should be the directory you uploaded your Flask
## code to underneath the home directory.  So if you just ran
## "git clone git@github.com/myusername/myproject.git"
## ...or uploaded files to the directory "myproject", then you should
## specify "/home/RunSchoolHub/myproject"
#path = '/home/RunSchoolHub/path/to/flask_app_directory'
#if path not in sys.path:
#    sys.path.append(path)
#
#from main_flask_app_file import app as application  # noqa
#
# NB -- many Flask guides suggest you use a file called run.py; that's
# not necessary on PythonAnywhere.  And you should make sure your code
# does *not* invoke the flask development server with app.run(), as it
# will prevent your wsgi file from working.
